<% @links.each do |link| %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link.url %><br>
        <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>
      </h2>
    </div>

      <div class="btn-group">
        <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
        <% if current_user.voted_for? link %>
        <%= link_to unlike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down"></span>
            Downvote
            <%= link.get_upvotes.size %>
        <% end %>
            <%else%>
        <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            Upvote
            <%= link.get_upvotes.size %>
        <% end %>
      <% end %>
        <% if link.user == current_user %>
              <%= link_to 'Edit', edit_link_path(link), class: "btn btn-default btn-sm" %>
              <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
        <% end %>
        <%= link_to 'Comment', link, class: "btn btn-default btn-sm" %>
        <%= link_to hide_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
          Hide
        <% end %>
      </div>
<% end %>